USE [master]
GO
/****** Object:  Database [Service]    Script Date: 5/31/2026 11:56:20 AM ******/
CREATE DATABASE [Service]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Service', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Service.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Service_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Service_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Service].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Service]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[ID] [uniqueidentifier] NOT NULL,
	[makeID] [uniqueidentifier] NULL,
	[model] [varchar](100) NULL,
	[year] [int] NULL,
	[type] [varchar](100) NULL,
	[engine] [varchar](100) NULL,
	[licencePlate] [varchar](50) NULL,
	[firstRegistration] [int] NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarMakes]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarMakes](
	[ID] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
 CONSTRAINT [PK_CarMakes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[ID] [uniqueidentifier] NOT NULL,
	[firstName] [varchar](100) NULL,
	[lastName] [varchar](100) NULL,
	[licenceExpiration] [date] NULL,
	[emailAddress] [varchar](100) NULL,
	[phoneNo] [varchar](100) NULL,
	[address] [varchar](100) NULL,
	[city] [varchar](50) NULL,
	[zipCode] [varchar](10) NULL,
	[serviceUserID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverAlerts]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverAlerts](
	[ID] [uniqueidentifier] NOT NULL,
	[driverID] [uniqueidentifier] NULL,
	[typeID] [uniqueidentifier] NULL,
	[expiration] [date] NULL,
 CONSTRAINT [PK_DriverAlerts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverAlertTypes]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverAlertTypes](
	[ID] [uniqueidentifier] NOT NULL,
	[name] [varchar](100) NULL,
 CONSTRAINT [PK_DriverAlertTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceActions](
	[ID] [uniqueidentifier] NOT NULL,
	[action] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ServiceActions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceEntry]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceEntry](
	[carID] [uniqueidentifier] NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[mileage] [int] NULL,
	[driverID] [uniqueidentifier] NULL,
	[accidentDetails] [varchar](max) NULL,
 CONSTRAINT [PK_ServiceEntry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceEntryActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceEntryActions](
	[ID] [uniqueidentifier] NOT NULL,
	[serviceEntryID] [uniqueidentifier] NULL,
	[serviceActionsID] [uniqueidentifier] NULL,
 CONSTRAINT [PK_ServiceEntryActions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceUser]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceUser](
	[ID] [uniqueidentifier] NOT NULL,
	[firstName] [varchar](50) NULL,
	[lastName] [varchar](50) NULL,
	[userName] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_ServiceUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Car_LicencePlate]    Script Date: 5/31/2026 11:56:20 AM ******/
CREATE NONCLUSTERED INDEX [idx_Car_LicencePlate] ON [dbo].[Car]
(
	[licencePlate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Driver_Email]    Script Date: 5/31/2026 11:56:20 AM ******/
CREATE NONCLUSTERED INDEX [idx_Driver_Email] ON [dbo].[Driver]
(
	[emailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Driver_FirstName]    Script Date: 5/31/2026 11:56:20 AM ******/
CREATE NONCLUSTERED INDEX [idx_Driver_FirstName] ON [dbo].[Driver]
(
	[firstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Driver_LastName]    Script Date: 5/31/2026 11:56:20 AM ******/
CREATE NONCLUSTERED INDEX [idx_Driver_LastName] ON [dbo].[Driver]
(
	[lastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarMakes] FOREIGN KEY([makeID])
REFERENCES [dbo].[CarMakes] ([ID])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarMakes]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_ServiceUser] FOREIGN KEY([serviceUserID])
REFERENCES [dbo].[ServiceUser] ([ID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_ServiceUser]
GO
ALTER TABLE [dbo].[DriverAlerts]  WITH CHECK ADD  CONSTRAINT [FK_DriverAlerts_Driver] FOREIGN KEY([driverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[DriverAlerts] CHECK CONSTRAINT [FK_DriverAlerts_Driver]
GO
ALTER TABLE [dbo].[DriverAlerts]  WITH CHECK ADD  CONSTRAINT [FK_DriverAlerts_DriverAlertTypes] FOREIGN KEY([typeID])
REFERENCES [dbo].[DriverAlertTypes] ([ID])
GO
ALTER TABLE [dbo].[DriverAlerts] CHECK CONSTRAINT [FK_DriverAlerts_DriverAlertTypes]
GO
ALTER TABLE [dbo].[ServiceEntry]  WITH CHECK ADD  CONSTRAINT [FK_ServiceEntry_Car] FOREIGN KEY([carID])
REFERENCES [dbo].[Car] ([ID])
GO
ALTER TABLE [dbo].[ServiceEntry] CHECK CONSTRAINT [FK_ServiceEntry_Car]
GO
ALTER TABLE [dbo].[ServiceEntry]  WITH CHECK ADD  CONSTRAINT [FK_ServiceEntry_Driver] FOREIGN KEY([driverID])
REFERENCES [dbo].[Driver] ([ID])
GO
ALTER TABLE [dbo].[ServiceEntry] CHECK CONSTRAINT [FK_ServiceEntry_Driver]
GO
ALTER TABLE [dbo].[ServiceEntryActions]  WITH CHECK ADD  CONSTRAINT [FK_ServiceEntryActions_ServiceActions] FOREIGN KEY([serviceActionsID])
REFERENCES [dbo].[ServiceActions] ([ID])
GO
ALTER TABLE [dbo].[ServiceEntryActions] CHECK CONSTRAINT [FK_ServiceEntryActions_ServiceActions]
GO
ALTER TABLE [dbo].[ServiceEntryActions]  WITH CHECK ADD  CONSTRAINT [FK_ServiceEntryActions_ServiceEntry1] FOREIGN KEY([serviceEntryID])
REFERENCES [dbo].[ServiceEntry] ([ID])
GO
ALTER TABLE [dbo].[ServiceEntryActions] CHECK CONSTRAINT [FK_ServiceEntryActions_ServiceEntry1]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCar]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a car record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteCar]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[Car]
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDriver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a driver record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteDriver]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[Driver]
    WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDriverAlerts]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a driver alert record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteDriverAlerts]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[DriverAlerts]
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteServiceEntry]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a service entry record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteServiceEntry]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[ServiceEntry]
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteServiceEntryActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a service entry action record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteServiceEntryActions]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[ServiceEntryActions]
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteServiceUser]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Deletes a service user record by its ID
CREATE PROCEDURE [dbo].[sp_DeleteServiceUser]
    @ID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DELETE FROM [dbo].[ServiceUser]
    WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCar]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves car records; if no ID is provided, returns all cars, otherwise returns the specific car
CREATE PROCEDURE [dbo].[sp_GetCar]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT * FROM [dbo].[Car]
    ELSE
        SELECT * FROM [dbo].[Car] WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetDriver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves driver records; if no ID is provided, returns all drivers, otherwise returns the specific driver
CREATE PROCEDURE [dbo].[sp_GetDriver]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT 
            [ID],
            [firstName],
            [lastName],
            [licenceExpiration],
            [emailAddress],
            [phoneNo],
            [address],
            [city],
            [zipCode],
            [serviceUserID]
        FROM [dbo].[Driver]
    ELSE
        SELECT 
            [ID],
            [firstName],
            [lastName],
            [licenceExpiration],
            [emailAddress],
            [phoneNo],
            [address],
            [city],
            [zipCode],
            [serviceUserID]
        FROM [dbo].[Driver] 
        WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDriverAlerts]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves driver alert records; if no ID is provided, returns all alerts, otherwise returns the specific alert
CREATE PROCEDURE [dbo].[sp_GetDriverAlerts]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT * FROM [dbo].[DriverAlerts]
    ELSE
        SELECT * FROM [dbo].[DriverAlerts] WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetServiceEntry]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves service entry records; if no ID is provided, returns all entries, otherwise returns the specific entry
CREATE PROCEDURE [dbo].[sp_GetServiceEntry]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT * FROM [dbo].[ServiceEntry]
    ELSE
        SELECT * FROM [dbo].[ServiceEntry] WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetServiceEntryActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves service entry action records; if no ID is provided, returns all actions, otherwise returns the specific action
CREATE PROCEDURE [dbo].[sp_GetServiceEntryActions]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT * FROM [dbo].[ServiceEntryActions]
    ELSE
        SELECT * FROM [dbo].[ServiceEntryActions] WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetServiceUser]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Retrieves service user records; if no ID is provided, returns all users, otherwise returns the specific user
CREATE PROCEDURE [dbo].[sp_GetServiceUser]
    @ID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @ID IS NULL
        SELECT * FROM [dbo].[ServiceUser]
    ELSE
        SELECT * FROM [dbo].[ServiceUser] WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCar]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing
-- This file contains CRUD stored procedures for Car, DriverAlerts, ServiceEntry, and ServiceEntryActions tables

-- ============================================================================
-- CAR TABLE PROCEDURES
-- ============================================================================

-- Inserts a new car record with vehicle details including make, model, year, and registration information
CREATE PROCEDURE [dbo].[sp_InsertCar]
    @ID UNIQUEIDENTIFIER,
    @makeId UNIQUEIDENTIFIER,
    @model VARCHAR(100),
    @year INT,
    @type VARCHAR(100),
    @engine VARCHAR(100),
    @licencePlate VARCHAR(50),
    @firstRegistration INT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[Car] 
    (
        [ID], 
        [makeID], 
        [model], 
        [year], 
        [type], 
        [engine], 
        [licencePlate], 
        [firstRegistration]
    )
    VALUES 
    (
        @ID, 
        @makeId, 
        @model, 
        @year, 
        @type, 
        @engine, 
        @licencePlate, 
        @firstRegistration
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDriver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing
-- Updated CRUD Stored Procedures for Driver table with serviceUserID

-- ============================================================================
-- DRIVER TABLE PROCEDURES (Updated)
-- ============================================================================

-- Inserts a new driver record with contact and license information
CREATE PROCEDURE [dbo].[sp_InsertDriver]
    @ID UNIQUEIDENTIFIER,
    @firstName VARCHAR(100),
    @lastName VARCHAR(100),
    @licenceExpiration DATE,
    @emailAddress VARCHAR(100),
    @phoneNo VARCHAR(100),
    @address VARCHAR(100),
    @city VARCHAR(50),
    @zipCode VARCHAR(10),
    @serviceUserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[Driver] 
    (
        [ID], 
        [firstName], 
        [lastName], 
        [licenceExpiration], 
        [emailAddress], 
        [phoneNo], 
        [address], 
        [city], 
        [zipCode],
        [serviceUserID]
    )
    VALUES 
    (
        @ID, 
        @firstName, 
        @lastName, 
        @licenceExpiration, 
        @emailAddress, 
        @phoneNo, 
        @address, 
        @city, 
        @zipCode,
        @serviceUserID
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertDriverAlerts]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- DRIVER ALERTS TABLE PROCEDURES
-- ============================================================================

-- Inserts a new driver alert record with driver reference, alert type, and expiration date
CREATE PROCEDURE [dbo].[sp_InsertDriverAlerts]
    @ID UNIQUEIDENTIFIER,
    @driverID UNIQUEIDENTIFIER,
    @typeID UNIQUEIDENTIFIER,
    @expiration DATE
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[DriverAlerts] 
    (
        [ID], 
        [driverID], 
        [typeID], 
        [expiration]
    )
    VALUES 
    (
        @ID, 
        @driverID, 
        @typeID, 
        @expiration
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertServiceEntry]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- SERVICE ENTRY TABLE PROCEDURES
-- ============================================================================

-- Inserts a new service entry record with car reference, driver reference, and mileage information
CREATE PROCEDURE [dbo].[sp_InsertServiceEntry]
    @ID UNIQUEIDENTIFIER,
    @carID UNIQUEIDENTIFIER,
    @driverID UNIQUEIDENTIFIER,
    @mileage INT,
    @accident VARCHAR(max)

AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[ServiceEntry] 
    (
        [ID], 
        [carID], 
        [driverID], 
        [mileage],
        [accidentDetails]
    )
    VALUES 
    (
        @ID, 
        @carID, 
        @driverID, 
        @mileage,
        @accident
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertServiceEntryActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================================
-- SERVICE ENTRY ACTIONS TABLE PROCEDURES
-- ============================================================================

-- Inserts a new service entry action record linking a service entry to a specific service action
CREATE PROCEDURE [dbo].[sp_InsertServiceEntryActions]
    @ID UNIQUEIDENTIFIER,
    @serviceEntryID UNIQUEIDENTIFIER,
    @serviceActionsID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[ServiceEntryActions] 
    (
        [ID], 
        [serviceEntryID], 
        [serviceActionsID]
    )
    VALUES 
    (
        @ID, 
        @serviceEntryID, 
        @serviceActionsID
    );
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertServiceUser]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing
-- CRUD Stored Procedures for ServiceUser table

-- ============================================================================
-- SERVICE USER TABLE PROCEDURES
-- ============================================================================

-- Inserts a new service user record with authentication and role information
CREATE PROCEDURE [dbo].[sp_InsertServiceUser]
    @ID UNIQUEIDENTIFIER,
    @firstName VARCHAR(50),
    @lastName VARCHAR(50),
    @userName VARCHAR(50),
    @password VARCHAR(50),
    @isAdmin BIT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO [dbo].[ServiceUser] 
    (
        [ID], 
        [firstName], 
        [lastName], 
        [userName], 
        [password], 
        [isAdmin]
    )
    VALUES 
    (
        @ID, 
        @firstName, 
        @lastName, 
        @userName, 
        @password, 
        @isAdmin
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchCarByLicencePlate]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchCarByLicencePlate]
    @licencePlate VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        [ID],
        [makeID],
        [model],
        [year],
        [type],
        [engine],
        [licencePlate],
        [firstRegistration]
    FROM [dbo].[Car]
    WHERE [licencePlate] LIKE '%' + ISNULL(@licencePlate, '') + '%'
    ORDER BY [licencePlate];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchDriver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchDriver]
    @firstName VARCHAR(100) = NULL,
    @lastName VARCHAR(100) = NULL,
    @emailAddress VARCHAR(100) = NULL,
    @phoneNo VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        [ID],
        [firstName],
        [lastName],
        [licenceExpiration],
        [emailAddress],
        [phoneNo],
        [address],
        [city],
        [zipCode],
        [serviceUserID]
    FROM [dbo].[Driver]
    WHERE (
        (@firstName IS NULL OR [firstName] LIKE '%' + @firstName + '%')
        AND (@lastName IS NULL OR [lastName] LIKE '%' + @lastName + '%')
        AND (@emailAddress IS NULL OR [emailAddress] LIKE '%' + @emailAddress + '%')
        AND (@phoneNo IS NULL OR [phoneNo] LIKE '%' + @phoneNo + '%')
    )
    ORDER BY [lastName], [firstName];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCar]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing car record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateCar]
    @ID UNIQUEIDENTIFIER,
    @make UNIQUEIDENTIFIER = NULL,
    @model VARCHAR(100) = NULL,
    @year INT = NULL,
    @type VARCHAR(100) = NULL,
    @engine VARCHAR(100) = NULL,
    @licencePlate VARCHAR(50) = NULL,
    @firstRegistration INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Car]
    SET 
        [make] = ISNULL(@make, [make]),
        [model] = ISNULL(@model, [model]),
        [year] = ISNULL(@year, [year]),
        [type] = ISNULL(@type, [type]),
        [engine] = ISNULL(@engine, [engine]),
        [licencePlate] = ISNULL(@licencePlate, [licencePlate]),
        [firstRegistration] = ISNULL(@firstRegistration, [firstRegistration])
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDriver]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing driver record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateDriver]
    @ID UNIQUEIDENTIFIER,
    @firstName VARCHAR(100) = NULL,
    @lastName VARCHAR(100) = NULL,
    @licenceExpiration DATE = NULL,
    @emailAddress VARCHAR(100) = NULL,
    @phoneNo VARCHAR(100) = NULL,
    @address VARCHAR(100) = NULL,
    @city VARCHAR(50) = NULL,
    @zipCode VARCHAR(10) = NULL,
    @serviceUserID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[Driver]
    SET 
        [firstName] = ISNULL(@firstName, [firstName]),
        [lastName] = ISNULL(@lastName, [lastName]),
        [licenceExpiration] = ISNULL(@licenceExpiration, [licenceExpiration]),
        [emailAddress] = ISNULL(@emailAddress, [emailAddress]),
        [phoneNo] = ISNULL(@phoneNo, [phoneNo]),
        [address] = ISNULL(@address, [address]),
        [city] = ISNULL(@city, [city]),
        [zipCode] = ISNULL(@zipCode, [zipCode]),
        [serviceUserID] = ISNULL(@serviceUserID, [serviceUserID])
    WHERE [ID] = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDriverAlerts]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing driver alert record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateDriverAlerts]
    @ID UNIQUEIDENTIFIER,
    @driverID UNIQUEIDENTIFIER = NULL,
    @typeID UNIQUEIDENTIFIER = NULL,
    @expiration DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[DriverAlerts]
    SET 
        [driverID] = ISNULL(@driverID, [driverID]),
        [typeID] = ISNULL(@typeID, [typeID]),
        [expiration] = ISNULL(@expiration, [expiration])
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateServiceEntry]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing service entry record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateServiceEntry]
    @ID UNIQUEIDENTIFIER,
    @carID UNIQUEIDENTIFIER = NULL,
    @driverID UNIQUEIDENTIFIER = NULL,
    @mileage INT = NULL,
    @accident VARCHAR = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[ServiceEntry]
    SET 
        [carID] = ISNULL(@carID, [carID]),
        [driverID] = ISNULL(@driverID, [driverID]),
        [mileage] = ISNULL(@mileage, [mileage]),
        [accidentDetails] = ISNULL(@accident, [accidentDetails])

    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateServiceEntryActions]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing service entry action record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateServiceEntryActions]
    @ID UNIQUEIDENTIFIER,
    @serviceEntryID UNIQUEIDENTIFIER = NULL,
    @serviceActionsID UNIQUEIDENTIFIER = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[ServiceEntryActions]
    SET 
        [serviceEntryID] = ISNULL(@serviceEntryID, [serviceEntryID]),
        [serviceActionsID] = ISNULL(@serviceActionsID, [serviceActionsID])
    WHERE [ID] = @ID;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateServiceUser]    Script Date: 5/31/2026 11:56:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Updates an existing service user record with optional parameters (NULL values skip the update)
CREATE PROCEDURE [dbo].[sp_UpdateServiceUser]
    @ID UNIQUEIDENTIFIER,
    @firstName VARCHAR(50) = NULL,
    @lastName VARCHAR(50) = NULL,
    @userName VARCHAR(50) = NULL,
    @password VARCHAR(50) = NULL,
    @isAdmin BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE [dbo].[ServiceUser]
    SET 
        [firstName] = ISNULL(@firstName, [firstName]),
        [lastName] = ISNULL(@lastName, [lastName]),
        [userName] = ISNULL(@userName, [userName]),
        [password] = ISNULL(@password, [password]),
        [isAdmin] = ISNULL(@isAdmin, [isAdmin])
    WHERE [ID] = @ID;
END;
GO
USE [master]
GO
